<section id="title" class="emerald" style="background-color: #6620C4;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Get in the best shape of your life</h1>
                <p>with VITAFIT Training Programs</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.php">Home</a></li>
                    <li class="active">Pricing</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<!-- <section id="career" class="container"> -->
    <div class="center">
      <h2>We will help you burn fat, build muscle and live a healthier life</h2>
      <p>Man, woman, beginner or advanced: no matter your needs - we deliver a plan that's adapted to your fitness level</p>
      <p style="text-align: left;">
      Lose weight with our Vitafit Kickstart Program so that you can feel great again!<br>
      Feel confident at the beach and happy when you look in the mirror<br>
      Workouts you can do ANYWHERE and EVERYWHERE<br>
      <strong>“I'm really glad that I found Mayra! It's been a life changing experience! I've never been really into working out hard, because I am a Yoga teacher and very concerned about getting injured. I have so much fun in our classes outdoors and she always brings everything that we need for the class. it's been a very important activity that is bringing more confidence and strength to my life! She is a very kind teacher but she also knows to push me to do my best!”  - Pricilla C.</strong><br><br>

      Personalized MEAL PLANS to help you achieve your goals faster<br>
      Change your habits and you will never have to deal with diets again<br>
      Learn how to measure portions so you can enjoy the foods you love<br>
      Shorter workouts to help you burn more calories in less time<br>
      <strong>“I love working out with Mayra! She is an awesome person with great energy. Very knowledgeable and offers a total body workout that motivates me through the day. She really cares about your success and progress! If you are looking for improvement in your healthy and as result in your appearance she will help you to reach your goals! So get ready to sweat!”  - Andrea C.</strong><br><br>

      Learn different and fun exercises<br>
      <strong>“I had the pleasure and was very lucky to find Mayra in my life! She's such a great professional and great person! She definitely knows what she's doing and I totally recommend her for anyone who needs help trying to be fit, healthy or just want some improvements in the workout that you're already doing. I workout for many years and I also have been a spinning instructor in the past and working out with Mayra definitely pumped my knowledge to another level.”  - Raissa K.</strong><br><br>

      Feel STRONGER, YOUNGER and CONFIDENT<br>
      To further ensure your success we will have weekly phone coaching sessions, so we can keep track of your progress and discuss the process of getting in the BEST SHAPE OF YOUR LIFE!<br>
      <strong>“Mayra is an Amazing fitness coach. I work with her since April, now I can feel that my body is much more balance and stronger! I can feel how passionate she is in helping me to be healthier and stronger in my body and in my core. She is the Best.<br>
      If you are reading this, consider it is a sign that she is a great fitness coach for you. Give her a call, you will love this beautiful expert health coach.<br>
      Thank you, Mayra” - Kim L.</strong><br><br>

      Lose up to 10lbs in 3 months<br>
      Beyond simply losing weight, I’ll help you boost your metabolism and energy levels so you can be more productive at work and enjoy your free time with family and friends<br>
      I’m also going to give you plenty of ideas for healthy snacks and some of my favorite recipes<br>
      But don’t wait too long: in 3 months you can be 10 lbs heavier than you are right now OR you can start our Vitafit Kickstart Program now to look and feel awesome in those same 3 months. What are you waiting for? Tone your tummy, eat delicious and nutritious food, increase your energy, sleep better and fee feel attractive again.<br>
      </p>
    </div>

    <div class="row">
    <!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial -->
    <!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial -->
    <!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial --><!-- trial -->
        <div class="col-sm-6">
            <div class="plan" style="background:url(img/trial.jpg);">
                <h4>Free Trial</h4>
                <p class="desc">Try 7 days for free</p>
            </div>
            <div class="panel-group" id="accordion5"> <!-- Accordion 3 start -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseOne5" style="color: #19AD4C;">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Subscribe now
                            </a>
                         </h4>
                    </div>
                    <div id="collapseOne5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form method="post" action="?subscribe=ok">
                                <input class="input-text" type="text" name="nome" placeholder="Your Name *" required>
                                <input class="input-text" type="email" name="email" placeholder="Your E-mail *" required>
                                <button type="submit" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Subscribe now</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div><!--/#accordion3-->
        </div><!--/.col-sm-4-->
          <!-- Weight Loss --><!-- Weight Loss --><!-- Weight Loss --><!-- Weight Loss -->

        <div class="col-sm-6">
            <div class="plan" style="background:url(img/plan1.jpg);">
                <h4>Weight Loss</h4>
                <p class="desc">LOSE WEIGHT AND FEEL GREAT FOR AS LOW AS $19.99/WEEK<br></p>
            </div>
            <div class="panel-group" id="accordion1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" >
                                <i class="fa fa-info-circle" aria-hidden="true"></i> More Info
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne1" class="panel-collapse collapse">
                        <div class="panel-body">
                If your want to shed body fat and achieve a more fit and toned physique, improve your overall health and feel great about your body then our VITAFIT weight loss plan is right for you:<br><br>

                - We will teach you how to make healthy and positive changes to your eating and exercise habits and experience the freedom, energy and happiness of a fit and healthy lifestyle.<br>
                - VITAFIT weight loss diets are balanced and custom made for you.<br>
                - VITAFIT weight loss workouts include strength training and cardio that progresses throughout your transformation period in order to get you to your goal as quickly as possible!<br>
                - This program is available for men or women, any age and any fitness level.<br>
                - VITAFIT weight loss program will make you feel and look great!!<br>
                - Estimated workout time weekly will depend on overall goals and time frame in which you are trying to reach those goals - most clients are within 6-10 hours weeks between strength training and cardio.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                <i class="fa fa-question-circle" aria-hidden="true"></i> Whats included?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Custom designed weight loss diet plan – You will learn what to eat, when to eat and how much to eat as well as an approved foods list with amazing variety<br>
                            <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Custom designed weight loss fitness plan<br>
                            <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Workouts you can do  at home or at the gym – beginner, intermediate or advanced depending on current fitness level* <br>
                            Each exercise has it’s own video demonstration within the plan so you know how to perform the exercise correctly<br> 
                            <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Cardio guidance – You will learn what to do and how much to do to burn fat effectively<br>
                            <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Tips for eating out, on the go or traveling<br><br>

                            <i class="fa fa-mobile" aria-hidden="true" style="color: #19AD4C;"></i> Mobile friendly- follow your plan from your phone<br>
                            Email support weekly from coach Mayra Hall<br>
                            <i class="fa fa-check" aria-hidden="true" style="color: #19AD4C;"></i> If you follow the plan and you will transform your body and life becoming the best version of yourself.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Prices
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree1" class="panel-collapse collapse">
                        <div class="panel-body" style="text-align: center;">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="J8CGBZFTYMARG">
                                <table align="center">
                                <tr><td><input type="hidden" name="on0" value="Program">Program:</td></tr><tr><td><select name="os0">
                                    <option value="12 Weeks Program">12 Weeks Program $239.99 USD</option>
                                    <option value="16 Weeks Program">16 Weeks Program $319.99 USD</option>
                                </select> </td></tr>
                                </table>
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </div>
                    </div>
                </div>
            </div><!--/#accordion1-->
        </div><!--/.col-sm-4-->
    </div>

    <!-- Build Muscle --><!-- Build Muscle --><!-- Build Muscle --><!-- Build Muscle -->
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            <div class="plan" style="background:url(img/plan2.jpg);">
                <h4>Build Muscle</h4>
                <p class="desc">BUILD MUSCLES AND FEEL CONFIDENT FOR AS LOW AS $24.99/WEEK</p>
            </div>
        <div class="panel-group" id="accordion2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                  <i class="fa fa-info-circle" aria-hidden="true"></i> More Info
                </a>
              </h4>
            </div>
            <div id="collapseOne2" class="panel-collapse collapse">
              <div class="panel-body">
                If you are looking to build muscle and strength then VITAFIT build muscle program is for you.<br>
                - This program is recommended to individuals that are already lean and under 15% bodyfat. If you start this program above that % you could gain fat at a quicker pace.<br>
                - Learn how to eat and train properly to build lean muscle tissue and build overall strength.<br>  
                - This program is for men or women all fitness levels and all ages. 

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2">
                  <i class="fa fa-question-circle" aria-hidden="true"></i> Whats included?
                </a>
              </h4>
            </div>
            <div id="collapseTwo2" class="panel-collapse collapse">
              <div class="panel-body">
                <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i>    Custom designed muscle building diet - you will learn what to eat, when to eat and how much to eat as well as an approved foods list for amazing variety<br>
                <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Custom build muscle - fitness plan<br>
                <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Workouts you can do at home or at the gym – all fitness levels.<br>
                Each exercise has it’s own video demonstration within the plan so you know how to perform the exercise correctly<br> 
                <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Cardio guidance - you will learn what to do and how much to do to burn fat effectively<br>
                <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Tips for eating out, on the go or traveling<br><br>

                <i class="fa fa-mobile" aria-hidden="true" style="color: #19AD4C;"></i> Mobile friendly - follow your plan from your phone<br>
                <i class="fa fa-skype" aria-hidden="true" style="color: #19AD4C;"></i> Weekly phone/skype coaching session and email support from coach Mayra Hall<br>
                <i class="fa fa-check" aria-hidden="true" style="color: #19AD4C;"></i> If you follow the plan and you will transform your body and life becoming the best version of yourself.

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i> Prices
                </a>
              </h4>
            </div>
            <div id="collapseThree2" class="panel-collapse collapse">
              <div class="panel-body" style="text-align: center;">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="JC55N8ABBVDDA">
                    <table align="center">
                    <tr><td><input type="hidden" name="on0" value="Program">Program:</td></tr><tr><td><select name="os0">
                        <option value="12 Weeks Program">12 Weeks Program $299.99 USD</option>
                        <option value="16 Weeks Program">16 Weeks Program $399.99 USD</option>
                    </select> </td></tr>
                    </table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

              </div>
            </div>
          </div>
        </div><!--/#accordion2-->
      </div><!--/.col-sm-4-->

      <!-- Bridal Bootcamp --><!-- Bridal Bootcamp --><!-- Bridal Bootcamp --><!-- Bridal Bootcamp --><!-- Bridal Bootcamp --><!-- Bridal Bootcamp -->

        <div class="col-sm-6">
            <div class="plan" style="background:url(img/plan3.jpg);">
                <h4>Bridal Bootcamp</h4>
                <p class="desc">GET IN SHAPE FOR YOUR BIG DAY FOR AS LOW AS $24.99/WEEK</p>
            </div>
            <div class="panel-group" id="accordion3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> More Info
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Want to look your absolute best for your wedding day? The VITAFIT bridal bootcamp program is just right for you! <br><br>

                            We will teach you how to make healthy and positive changes to your eating and exercise habits and experience the freedom, energy and happiness of a fit and healthy lifestyle.<br><br>

                            Through this process you will learn to shed body fat and achieve a leaner physique. The body fat percentage is the key to what you look like on your big day. Many brides want sculpted and toned arms, this means low enough body fat percentage that you can actually see the shape of the muscle underneath.<br><br>

                            This will take a combination of proper nutrition, cardio and strength training, that we will design for you in this program! Give yourself time to get ready for your big day, the ideal time to see the changes you want is from 12-16 weeks minimum!<br><br>

                            This program will be focused on not just getting you to great shape for the big day, but also teach you habits you can carry on for the rest of your married life.<br><br>

                            This program is available as either an individual or group program which means you can do it with your spouse or members of your bridal party. Couples options will offer a discounted rate off what the individual pricing would be.<br><br>

                            Choose the 12 week program if you have less than 30-35 pounds of fat to lose, choose the 16 week if your weight loss goal is 40 pounds or greater.<br>
                            The bridal boot camp programs will include some extras for you including tips on what to eat in order to look your best and tightest on your wedding day!

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3">
                                <i class="fa fa-question-circle" aria-hidden="true"></i> Whats included?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Custom designed bridal bootcamp diet – you will learn what to eat, when to eat and how much to eat and weel as an approved foods list with amazing variety<br>
                            <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Custom designed weight loss fitness plan<br>
                            <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Workouts you can do at home or at the gym – all fitness levels.<br>
                            Each exercise has it’s own video demonstration within the plan so you know how to perform the exercise correctly<br>
                            <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Tips for looking your best on wedding day and honeymoon!<br>
                            <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Cardio guidance – you will learn what to do and how much to do to burn fat effectively<br>
                            <i class="fa fa-info-circle" aria-hidden="true" style="color: #19AD4C;"></i> Tips for eating out, on the go or traveling<br><br>

                            <i class="fa fa-mobile" aria-hidden="true" style="color: #19AD4C;"></i> Mobile friendly - follow your plan from your phone<br>
                            <i class="fa fa-skype" aria-hidden="true" style="color: #19AD4C;"></i>  Weekly phone/skype coaching session and email support from coach Mayra Hall<br>
                            <i class="fa fa-check" aria-hidden="true" style="color: #19AD4C;"></i> You follow the plan and you will transform your body and life becoming the best version of yourself.

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Prices
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree3" class="panel-collapse collapse">
                        <div class="panel-body" style="text-align: center;">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="HM9X8H28CR4MJ">
                                <table align="center">
                                <tr><td><input type="hidden" name="on0" value="Program">Program:</td></tr><tr><td><select name="os0">
                                    <option value="Individual 12 Weeks">Individual 12 Weeks $299.99 USD</option>
                                    <option value="Individual 16 Weeks">Individual 16 Weeks $399.99 USD</option>
                                    <option value="Group 12 Weeks">Group 12 Weeks $419.99 USD</option>
                                    <option value="Group16 Weeks">Group16 Weeks $559.99 USD</option>
                                </select> </td></tr>
                                </table>
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </div>
                    </div>
                </div>
            </div><!--/#accordion3-->
        </div><!--/.col-sm-4-->
    </div>
