<section id="title" class="emerald" style="background-color: #6620C4;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Vitafit Blog</h1>
                <p>Health Coaching & Personal training</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a routerLink="/home">Home</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->     

<section id="blog" class="container">
    <div class="row">
        <aside class="col-sm-4 col-sm-push-8">
            <div class="widget search">
                <form role="form" method="get">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" autocomplete="off" placeholder="Search" required="required" minlength="6">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-danger" type="button" value="search">
                        </span>
                    </div>
                </form>
            </div><!--/.search-->

            <div class="widget facebook-fanpage">
                <h3>Facebook Fanpage</h3>
                <div class="widget-content">
                    <div class="fb-page" data-href="https://www.facebook.com/vitafithealthcoaching" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/vitafithealthcoaching" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vitafithealthcoaching">Vitafit Health and Fitness Coaching</a></blockquote></div>
                </div>
            </div>
        </aside>
        <ul>
          <li *ngFor="let mockBlogPost of mockBlogPosts">
            <div class="col-sm-8 col-sm-pull-4">
                <div class="blog">
                   <!--  <div class="blog-item">
                      <h3>No results found.</h3>
                      <a routerLink="/blog">Return to Vitafit Blog</a><br>
                      <a routerLink="/home">Go to Vitafit Homepage</a>
                    </div>  -->
                    <div class="blog-item">
                        <img class="img-responsive img-blog" width="100%" alt="" /> blog image here
                        <div class="blog-content">
                            <a><h3>{{ mockBlogPost.title }}</h3></a>
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar"></i> {{ mockBlogPost.date }}</span>
                                <span><i class="fa fa-eye"></i>{{ mockBlogPost.views }}</span>
                            </div>
                            <p>{{ mockBlogPost.content }}</p>
                            <a class="btn btn-default" (click)="onSelect(mockBlogPost)" >Read More <i class="icon-angle-right"></i></a>
                        </div>
                    </div><!--/.blog-item-->
                </div>
            </div>
          </li>
        </ul>
    </div>
</section><!--/#blog-->

<h2>Blog Posts</h2>
<div *ngIf="selectedBlogPost">
  <h1>{{selectedBlogPost.title}}</h1>
</div>


<ul>
  <li *ngFor="let mockBlogPost of mockBlogPosts"
      (click)="onSelect(mockBlogPost)">
    <span>{{mockBlogPost.title}}</span>
  </li>
</ul>
