<ngx-carousel
  [inputs]="carouselOne"
  (carouselLoad)="myfunc($event)">
    <ngx-item NgxCarouselItem>
      ....
    </ngx-item>
    <ngx-item NgxCarouselItem>
      ....
    </ngx-item>
    <ngx-item NgxCarouselItem>
      ....
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
<section id="about"> <!-- about -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h1 style="color:#4C3480;">ABOUT VITAFIT <small> Health Coaching & Personal training</small></h1>
            <p style="font-size:1.2em;">VitaFit is operated by Mayra Hall, a certified Personal Trainer through the National Academy of Sports Medicine and Health Coach throug the American Council on Exercise.
            Mayra has practiced and trained various sports including Muay Thai, spinning, long distance running, and handball.
            She also holds a bachelor's degree in Public Relations from the University of Taubate in Sao Paulo, Brazil.
            </p>
            <h3 style="color:#4C3480; font-weight:bold;">MISSION</h3>
            <p style="font-size:1.2em;">
            Our mission is to provide quality service to our clients, because we believe in the long term benefits of a healthy lifestyle. We value you as individual, so we create specific workout plans for your needs. Your body is your temple, and that is how we treat it.
            Vitafit provides Personal training services for those who want to make a change in their lives. We create specific workout plans for all levels of fitness and work in a progressive fashion, so you are constantly improving your fitness level.
            Because everybody’s body is different, we will make sure to deliver the best workout plan to your needs, always working accordingly to your goals and pushing you towards your best.
            More than just making you <font style="color:#4C3480; font-weight:bold;">look good</font>, we want to make you <font style="color:#4C3480;  font-weight:bold;">feel good</font>!
            </p>

            <h3 style="color:#4C3480; font-weight:bold;">VISION</h3>
            <p style="font-size:1.2em;">
            To become a reference in individualized strategic fitness and health plans in the San Francisco Area.
            </p>

            </div>

        </div>
    </div>
    <div class="container">
        <h3 style="color:#4C3480; font-weight:bold;">WHO IS MAYRA HALL</h3>
        <div class="col-xs-12 col-sm-3 col-md-3" style="margin-top: 15px;">
            <img src="/assets/images/mayra3.jpg" class="img-responsive">

        </div>
        <div class="col-xs-12 col-sm-5 col-md-5">
            <p style="font-size:1.2em;">
            I am a Health Coach Certified trough ACE and Personal trainer certified trough NASM, and my passion for fitness started several years ago, when I started training Muay Thai. Since then, I am always looking for some new exercises, new classes or just having fun exercising with my husband and friends.
            I moved to the Bay Area in 2012, from Brazil, and being studying and looking for new workshops and specializations all the times, always looking to improve my skills and knowledge to offer my clients the best quality service. My main goal as a coach and personal trainer is to change people’s lives by improving their quality of life working with them to achieve the long terms benefits of a health and fitness program.
            To me, there is nothing better than the feeling of exhaustion after a workout, to make you feel like you really did a good job, and did something for yourself.

            I specialize in weight loss programs, and help clients reach their goals through various techniques including circuit training, HIIT, bootcamps, as well as strength and functional training exercises.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="idea-badge" data-id="1148777" align="center"></div>
            <div style="width: 100%;" align="center">
            <h2 style="color: #00687F; text-align: center;">US Registry of Exercise professionals</h2>
            <a href="http://customer.usreps.org/USREPS/USREPSWcm/Membership/Directory/Shared_Content/Directory.aspx" target="_blank" style="text-align: center;"><img src="http://www.usreps.org/Style%20Library/Images/Badge/USREPS_badge_blue_80x83.png" /></a>
            </div>
        </div>
    </div>
</section> <!-- /about -->

<section id="services" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-pencil-square-o icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">PLAN</h3>
                        <p>VitaFit works with you to create a long term, goal oriented fitness plan to ensure you reach - and maintain - your fitness goals.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-universal-access icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">PRACTICE</h3>
                        <p>Your personalized plan will be challenging and fun. Expect to be inspired every day body, soul, and mind.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-heartbeat icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">LIVE</h3>
                        <p>A new energy will pulse through your everyday life, and you'll be addicted to how great you feel.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
        </div>
    </div>
</section><!--/#services-->

<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/assets/images/small-logo2.png">
                <h3 class="text-uppercase" style="margin-bottom:100px; color:#FFFFFF; font-size:2.2em;">
                    MAKE YOUR APPOINTMENT FOR A FREE PERSONAL EVALUATION AND INTRODUCTORY CLASS!
                </h3>
            </div>

        </div>
    </div>
</section>

<section id="coach">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h1 style="color:#4C3480; text-align: center;">Health Coach</h1>
            <p style="font-size:1.2em;">
            <i class="fa fa-question-circle" aria-hidden="true" style="color: #4D3581;"></i> Tired of one-size-fits-all approaches to dieting?
            <i class="fa fa-question-circle" aria-hidden="true" style="color: #4D3581;"></i> Drained from toxic relationships?
            <i class="fa fa-question-circle" aria-hidden="true" style="color: #4D3581;"></i> Overwhelmed by stress at work?
            <i class="fa fa-question-circle" aria-hidden="true" style="color: #4D3581;"></i> Fed up with those nagging cravings?
            <i class="fa fa-question-circle" aria-hidden="true" style="color: #4D3581;"></i> Want to feel great in your body?
            <i class="fa fa-question-circle" aria-hidden="true" style="color: #4D3581;"></i> Ready to accomplish your goals in a way that’s empowering and exciting?

            An Integrative Fitness and Health Coach is a guide and mentor who empowers you and provides ongoing support and guidance as you set goals and make sustainable changes that improve your health and happiness.
            As your Health Coach, I will listen carefully and we’ll navigate the world of contradictory fitness, nutrition and health advice together to explore what truly works for you.

            <strong>Together we will:</strong>
            <i class="fa fa-check" aria-hidden="true" style="color: #2ECC71;"></i> Connect the dots between who you are and who you want to be
            <i class="fa fa-check" aria-hidden="true" style="color: #2ECC71;"></i> Create your personal blueprint
            <i class="fa fa-check" aria-hidden="true" style="color: #2ECC71;"></i> Decipher your body’s unique needs
            <i class="fa fa-check" aria-hidden="true" style="color: #2ECC71;"></i> Set your personal goals and work towards sustainable change


            To decide if health coaching is right for you, I invite you to schedule a free initial consultation with me.
            During this session, we will discuss your health and lifestyle to determine how I can best support you in achieving your goals.

            What are you waiting for? <strong>Let's do this! </strong>
            </p>
            </div>
        </div>
    </div>
</section>

<section id="pictures" class="container"> <!-- portfolio -->
    <h1>Pictures</h1>
    <ul class="portfolio-items col-3">

        <li class="portfolio-item">
            <div class="item-inner">
                <img src="/assets/images/portfolio/thumb/m1.jpg" alt="">
                <h5></h5>
                <div class="overlay">
                    <a class="preview btn btn-danger" href="images/portfolio/full/m1.jpg" rel="prettyPhoto" style="background-color:#4D3581; border-color:#4D3581;"><i class="fa fa-search-plus"></i></a>
                </div>
            </div>
        </li><!--/.portfolio-item-->

        <li class="portfolio-item">
            <div class="item-inner">
                <img src="/assets/images/portfolio/thumb/m2.jpg" alt="">
                <h5></h5>
                <div class="overlay">
                    <a class="preview btn btn-danger" href="images/portfolio/full/m2.jpg" rel="prettyPhoto" style="background-color:#4D3581; border-color:#4D3581;"><i class="fa fa-search-plus"></i></a>
                </div>
            </div>
        </li><!--/.portfolio-item-->

        <li class="portfolio-item">
            <div class="item-inner">
                <img src="/assets/images/portfolio/thumb/item1.jpg" alt="">
                <h5></h5>
                <div class="overlay">
                    <a class="preview btn btn-danger" href="images/portfolio/full/item1.jpg" rel="prettyPhoto" style="background-color:#4D3581; border-color:#4D3581;"><i class="fa fa-search-plus"></i></a>
                </div>
            </div>
        </li><!--/.portfolio-item-->

        <li class="portfolio-item">
            <div class="item-inner">
                <img src="/assets/images/portfolio/thumb/item2.jpg" alt="">
                <h5></h5>
                <div class="overlay">
                    <a class="preview btn btn-danger" href="images/portfolio/full/item2.jpg" rel="prettyPhoto" style="background-color:#4D3581; border-color:#4D3581;"><i class="fa fa-search-plus"></i></a>
                </div>
            </div>
        </li><!--/.portfolio-item-->

        <li class="portfolio-item">
            <div class="item-inner">
                <img src="/assets/images/portfolio/thumb/item3.jpg" alt="">
                <h5></h5>
                <div class="overlay">
                    <a class="preview btn btn-danger" href="images/portfolio/full/item3.jpg" rel="prettyPhoto" style="background-color:#4D3581; border-color:#4D3581;"><i class="fa fa-search-plus"></i></a>
                </div>
            </div>
        </li><!--/.portfolio-item-->

        <li class="portfolio-item">
            <div class="item-inner">
                <img src="/assets/images/portfolio/thumb/item4.jpg" alt="">
                <h5></h5>
                <div class="overlay">
                    <a class="preview btn btn-danger" href="images/portfolio/full/item4.jpg" rel="prettyPhoto" style="background-color:#4D3581; border-color:#4D3581;"><i class="fa fa-search-plus"></i></a>
                </div>
            </div>
        </li><!--/.portfolio-item-->

        <li class="portfolio-item">
            <div class="item-inner">
                <img src="/assets/images/portfolio/thumb/item5.jpg" alt="">
                <h5></h5>
                <div class="overlay">
                    <a class="preview btn btn-danger" href="images/portfolio/full/item5.jpg" rel="prettyPhoto" style="background-color:#4D3581; border-color:#4D3581;"><i class="fa fa-search-plus"></i></a>
                </div>
            </div>
        </li><!--/.portfolio-item-->

    </ul>
</section><!--/#portfolio-->

<section id="training"> <!-- trainging/pricing -->
    <div class="container">
        <div class="center">
            <h2>Specializations</h2>
            <p class="lead">

            </p>
        </div><!--/.center-->
        <div class="gap"></div>
        <div id="pricing-table" class="row">
            <div class="col-md-3 col-xs-6">
                <ul class="plan plan1" style="background:url('/assets/img/weight_loss.jpg');">
                    <li class="plan-name">
                        <h3>WEIGHT LOSS</h3><small></small>
                    </li>
                    <li>
                        <strong>WHAT'S INCLUDED</strong>
                    </li>
                    <li class="altura">
                        We can help you lose those extra pounds, by developing a specific circuit training with little rest in between exercises that will make your body burn more calories and help to improve your metabolism.
                    </li>
                    <li class="plan-action">
                        <img src="/assets/img/logo_mini.png">
                    </li>
                </ul>
            </div><!--/.col-md-3-->
            <div class="col-md-3 col-xs-6">
                <ul class="plan plan2 featured" style="background:url('/assets/img/strength_training.jpg');">
                    <li class="plan-name">
                        <h3>STRENGTH TRAINING</h3><small></small>
                    </li>
                    <li>
                        <strong>WHAT'S INCLUDED</strong>
                    </li>
                    <li class="altura">
                        Do you want to increase your lean muscle mass and get toned? We can help you that, by creating your personalized strength training, based on your needs and goals.
                    </li>
                    <li class="plan-action">
                        <img src="/assets/img/logo_mini.png">
                    </li>
                </ul>
            </div><!--/.col-md-3-->
            <div class="col-md-3 col-xs-6">
                <ul class="plan plan3" style="background:url('/assets/img/functional_training.jpg');">
                    <li class="plan-name">
                        <h3>FUNCTIONAL TRAINING</h3><small></small>
                    </li>
                    <li>
                        <strong>WHAT'S INCLUDED</strong>
                    </li>
                    <li class="altura">
                        Wether you want to lose weight or build strength, your body needs to be able to perform the daily activities in an efficient way. We create functional training programs that will lead to better joint mobility and stability, as well as more efficient motor patterns. Improving these factors decreases the potential for an injury sustained during athletic exercises. The benefits may arise from the use of training that emphasizes the body's natural ability to move in six degrees of freedom.
                    </li>
                    <li class="plan-action">
                        <img src="/assets/img/logo_mini.png">
                    </li>
                </ul>
            </div><!--/.col-md-3-->
            <div class="col-md-3 col-xs-6">
                <ul class="plan plan3" style="background:url('/assets/img/bootcamp_training.jpg');">
                    <li class="plan-name">
                        <h3>BOOTCAMP TRAINING</h3><small></small>
                    </li>
                    <li>
                        <strong>WHAT'S INCLUDED</strong>
                    </li>
                    <li class="altura">
                        Some people just need that “push”! We create bootcamp exercises for what you need, including “Buddies bootcamp”, “New mammas bootcamp” and “Brides bottcamp”.
                    </li>
                    <li class="plan-action">
                        <img src="/assets/img/logo_mini.png">
                    </li>
                </ul>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--trainging/#pricing-->

<div class="container">
    <section class="main-section contact" id="contact">
        <div class="row">
            <h2 style="text-align:center;">Contact</h2>
            <p class="contact-box-margin-bottom" style="text-align:center;">
                Interested in our services?  Get in touch with us via the form below and we'll get back to you as soon as possible!
            </p>

            <div class="col-lg-6 col-sm-7 wow fadeInLeft">
                <div class="contact-info-box address clearfix">
                    <h3 class="address-push no-margin-top-bottom pull-left"><i class="fa-map-marker"></i>Address:</h3>
                    <span class="pull-left">San Francisco & Bay Area</span>
                </div>
                <div class="contact-info-box phone clearfix">
                    <h3 class="phone-push pull-left no-margin-top-bottom"><i class="fa-phone"></i>Phone:</h3>
                    <span class="pull-left">(415) 697-4133</span>
                </div>
                <div class="contact-info-box email clearfix">
                    <h3 class="email-push no-margin-top-bottom pull-left"><i class="fa-pencil"></i>email:</h3>
                    <span class="pull-left">mayratn.hall@gmail.com</span>
                </div>
                <div class="contact-info-box hours clearfix">
                    <h3 class="hours-push no-margin-top-bottom pull-left"><i class="fa-clock-o"></i>Hours:</h3>
                    <span class="pull-left"><strong>Monday - Friday:</strong> 6am - 7pm<br><strong>Saturday:</strong> 6am - 1pm.</span>
                </div>
                <ul class="social-link">
                    <li class="twitter"><a href="https://twitter.com/search?q=mayranatalino"><i class="fa fa-twitter"></i></a></li>
                    <li class="facebook"><a href="https://www.facebook.com/vitafithealthcoaching/"><i class="fa fa-facebook"></i></a></li>
                    <li class="pinterest"><a href="https://www.linkedin.com/in/hallmayra"><i class="fa fa-linkedin"></i></a></li>
                    <li class="gplus"><a href="https://www.instagram.com/vitafit.pt/"><i class="fa fa-instagram"></i></a></li>
                    <li><a routerLink="/blog" style="background-color:#6312B6;"><img src="/assets/img/blog.png"></a></li>
                </ul>
                <div align="center">
                    <script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script>
                    <a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/bookingpage/827881f4-5552-4ef3-ae8c-5405a2e6e47a">
                        <img border="none" src="https://my.setmore.com/images/bookappt/SetMore-book-button.png" alt="Book an appointment using SetMore" />
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
                <div class="form">
                    <form method="post" action="?acao=send">
                        <input class="input-text" type="text" name="nome" placeholder="Your Name *" required>
                        <input class="input-text" type="email" name="email" placeholder="Your E-mail *" required>
                        <textarea class="input-text text-area" name="mensagem" cols="0" rows="0" placeholder="Your Message *" required minlength="25"></textarea>
                        <input class="input-btn" type="submit" value="send message">
                    </form>
                </div>  
            </div>
        </div>
    </section>
</div>
